<div class="form-group mt-3">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group mt-3">
    <label for="title">Description</label>
    <textarea required rows="3" type="textarea" name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group my-3">
    <label for="title">Markdown</label>
    <textarea required rows="7" type="textarea" name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>